.footer {
    background-color: #303;
    height: 40px;
    padding: 20px;
    color: white !important;
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
}

.main {
    padding-bottom: 50px;
}